

<h1 align="center">Bid Bike.com </h1>
<h3 align="center" >Register to buy used bikes at the best price</h3>
<h2 >Log in</h2>

	<div class="pic">
	</div>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>
<img src="1.png" height= "75" width="235" style="float:right" hspace="10"/>
<img src="1.png" height= "75" width="235" style="float:right" hspace="10"/>
<img src="1.png" height= "75" width="235" style="float:right" hspace="10"/>
<img src="1.png" height= "75" width="235" style="float:right" hspace="10"/>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>
	<br>
	<img src="myapp/1.png" height= "75" width="235" style="float:right" hspace="10"/>
	<img src="1.png" height= "75" width="235" style="float:right" hspace="10"/>
	<img src="1.png" height= "75" width="235" style="float:right" hspace="10"/>
	<img src="1.png" height= "75" width="235" style="float:right" hspace="10"/>


  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>
<%= render 'common/footer'%>
<%= render "devise/shared/links" %>
